[Unit]
Description=Frp Client Service
After=network.target

[Service]
Type=simple
User={{ frp_user }}
Group={{ frp_group }}
Restart=on-failure
RestartSec=5s
ExecStart={{ sbindir }}/frpc -c {{ etcdir }}/frpc.toml
ExecReload={{ sbindir }}/frpc reload -c {{ etcdir }}/frpc.toml
LimitNOFILE=1048576

[Install]
WantedBy=multi-user.target
