serverAddr = "{{ frp['client']['server']['url'] }}"
serverPort = {{ frp['client']['server']['port'] }}

{% if frp['client']['tls']['enabled'] %}
transport.tls.enable = {{ frp['client']['tls']['enabled'] }}
transport.tls.certFile = "{{ tlsdir }}/{{ frp_common['client']['tls']['certificate'] }}"
transport.tls.keyFile = "{{ tlsdir }}/{{ frp_common['client']['tls']['privkey'] }}"
transport.tls.trustedCaFile = "{{ tlsdir }}/{{ frp_common['client']['tls']['cacrt'] }}"
{% endif %}

log.to = "{{ logdir }}/{{ frp_common['client']['logfile'] }}"

{% for proxy in frp['client']['proxies'] %}
[[proxies]]
name = "{{ proxy['name'] }}"
type = "{{ proxy['type'] }}"
localIP = "{{ proxy['localIP'] }}"
localPort = {{ proxy['localPort'] }}
remotePort = {{ proxy['remotePort'] }}
{% endfor %}

{% for visitor in frp['client']['visitors'] %}
[[visitors]]
name = "{{ visitor['name'] }}"
type = "{{ visitor['type'] }}"
serverName = "{{ visitor['serverName'] }}"
secretKey = "{{ visitor['secretKey'] }}"
bindAddr = "{{ visitor['bindAddr'] }}"
bindPort = {{ visitor['bindPort'] }}
keepTunnelOpen = {{ visitor['keepTunnelOpen'] }}
{% endfor %}
