[Unit]
Description=Frp Server Service
After=network.target

[Service]
Type=simple
User={{ frp['user'] }}
Group={{ frp['group'] }}
Restart=on-failure
RestartSec=5s
ExecStart={{ sbindir }}/frps -c {{ etcdir }}/frps.toml
LimitNOFILE=1048576

[Install]
WantedBy=multi-user.target
